
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/mario.woff);
}

* {
  font-family: myFirstFont;
}


body {
   background-image: url(../img/maxresdefault.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: black;
}